/* css for font start */
@font-face {
  font-family: 'Mulish-Bold';
  src: url('../fonts/mulish/Mulish-Black.eot');
  src: url('../fonts/mulish/Mulish-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/mulish/Mulish-Bold.woff2') format('woff2'),
      url('../fonts/mulish/Mulish-Bold.woff') format('woff'),
      url('../fonts/mulish/Mulish-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish-Black';
  src: url('../fonts/mulish/Mulish-Black.eot');
  src: url('../fonts/mulish/Mulish-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/mulish/Mulish-Black.woff2') format('woff2'),
      url('../fonts/mulish/Mulish-Black.woff') format('woff'),
      url('../fonts/mulish/Mulish-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish-ExtraBold';
  src: url('../fonts/mulish/Mulish-Black.eot');
  src: url('../fonts/mulish/Mulish-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/mulish/Mulish-ExtraBold.woff2') format('woff2'),
      url('../fonts/mulish/Mulish-ExtraBold.woff') format('woff'),
      url('../fonts/mulish/Mulish-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish-Regular';
  src: url('../fonts/mulish/Mulish-Regular.eot');
  src: url('../fonts/mulish/Mulish-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/mulish/Mulish-Regular.woff2') format('woff2'),
      url('../fonts/mulish/Mulish-Regular.woff') format('woff'),
      url('../fonts/mulish/Mulish-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish-Medium';
  src: url('../fonts/mulish/Mulish-Medium.eot');
  src: url('../fonts/mulish/Mulish-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/mulish/Mulish-Medium.woff2') format('woff2'),
      url('../fonts/mulish/Mulish-Medium.woff') format('woff'),
      url('../fonts/mulish/Mulish-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish-SemiBold';
  src: url('../fonts/mulish/Mulish-SemiBold.eot');
  src: url('../fonts/mulish/Mulish-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/mulish/Mulish-SemiBold.woff2') format('woff2'),
      url('../fonts/mulish/Mulish-SemiBold.woff') format('woff'),
      url('../fonts/mulish/Mulish-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* css for font start */

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Mulish-Regular", sans-serif;
  color: #444444;
  background-color: #f6f9ff;
}

a {
  
  text-decoration: none;
}

a:hover {
  color: #206bfb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish-Bold", sans-serif;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 5px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#header .logo a {
  color: #5f687b;
}

#header .logo img {
  max-height: 40px;
}
.logo-section,.welcome-user{
  width: 20%;
}
.welcome-user {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.data-user{
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 color: #fff;
  height: 90px;
  width: 400px;
  background-color:#0a579d;
  position: relative;

}
.data-user::after{
  content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-top: 100px solid transparent;
    border-right: 100px solid #fff;
    left: -5px;
    transform: rotate(90deg);
}
.data-user::before{
  content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: red;
    left: 100px;
    transform: rotate(90deg);
}
.user-profile{
  width: 50px;
  height: 50px;
  background-color: #00468c;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-profile img{
  width: 25px;
  height:25px;
}
.title-name{
  font-family: 'Mulish-Bold';
}
.title-desig{
  font-family: 'Mulish-SemiBold';
}
.btn-logout{
  background-color:#db2727;
  color: #fff;
  font-family: 'Mulish-Bold';
  padding: 5px;
  font-size: 14px;
}
.data-user-dublicate.d-flex.align-items-center {
  background: #f4f6fc;
  border: 1px solid #00468c;
  padding: 5px;
  border-radius: 5px;
}
@media (max-width: 991px) {
  #header {
    padding: 12px 0;
  }
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0 0 0 ;
  overflow: hidden;
}

.section-bg {
  background-color:#f4f6fc;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #5f687b;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #f0f1f3;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
  display: none;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
.main{
  display: flex;
  width: 100%;
  min-height: 90vh;
  position: relative;
}

.sidebar{
  
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  position: absolute;
 
  position: fixed;
  width: 15%;
  left: unset;
  height: 100%;
  transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
}
#sidebar-nav .nav-link.collapsed i:first-child {
  color: #2e384d;
  background-color:#fff;
  font-size: 16px;
  margin-right: 10px;
}
#sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
}
#sidebar-nav .nav-link.collapsed {
  color:#2e384d;
  background: #fff;
}
#sidebar-nav .nav-link:hover{
  color: #00468c;

  background: #ffebeb;
}
#sidebar-nav .nav-content a:hover{
  background: #ffebeb;
}
#sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}
#sidebar-nav .nav-link i:first-child,#sidebar-nav .nav-link:active i:first-child{
  color: #fff;
    background-color: #00468c;
    padding: 3px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 50px;
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
}
#sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}
#sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #2e384d;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}
#sidebar-nav .nav-content a:active{
    color: #00468c;
}
#sidebar-nav .nav-link,#sidebar-nav .nav-link:active {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #00468c;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}
#sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down::before {
 
  transform: rotate(180deg);
 
}
#sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}
*:focus,
*:active,
a:active,
a:focus,
input:focus,
input:active { 
    -moz-outline-style: none;
	outline:none;
	outline: 0;
}
.leftside{
  width: 0%;
  left:-285px;
  
}
.content-before-sidebar.m-3.content{
  margin-left: 0  !important;
  width: 100% !important;
  transition: transform 0.2s ease-in-out;
 
  
}
.content-before-sidebar{
  
  width: 85%;
  margin-left: 15% !important;
  transition: transform 0.2s ease-in-out;
}
.sidebar ul li a{
  font-family: 'Mulish-Bold';
  color: #2e384d;
  font-size: 16px;
}
.sidebar ul li a:active{
  color:#00468c;
}
.sidebar ul li a svg{
  fill:#2e384d;
}
.sidebar ul li a:active svg{
  background-color: #00468c;
  fill:#fff;
  border-radius: 5px;
}
.sidebar ul li a:hover{
  background-color: #ddd;
}
.sidebar ul li a rect{
  fill:#2e384d;
}
@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }


  .section-title span {
    font-size: 38px;
  }
}

/*-------------------------------------------------------------
#Breadcum
---------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}
.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #00468c;
}
.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #899bbd;
  font-weight: 600;
}
.breadcrumb .active {
  color: #51678f;
  font-weight: 600;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.data-main-content{
  border-radius: 14px;
  box-shadow: 0 0 6px 0 rgba(213, 224, 254, 0.48);
  background-color: #fff;
  padding: 10px;
}



/*--------------------------------------------------------------
# dashboard
--------------------------------------------------------------*/
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.card-body {
  padding: 0 20px 20px 20px;
}
.dashboard .info-card {
  padding-bottom: 10px;
}
.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}
.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}
.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #00468c;
  font-family: "Mulish-Bold", sans-serif;
}
.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}
.dashboard .sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}
.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}
.dashboard .info-card h6 {
  font-size: 28px;
  color: #1b4a98;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.dashboard .revenue-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}
.dashboard .customers-card .card-icon {
  color: #ff771d;
  background: #ffecdf;
}
.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}
.dashboard .news img {
  width: 80px;
  float: left;
  border-radius: 5px;
}
.dashboard .news h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
  margin-bottom: 5px;
}
.dashboard .news h4 a {
  color: #012970;
  transition: 0.3s;
}
.dashboard .news p {
  font-size: 14px;
  color: #777777;
  margin-left: 95px;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background-color: #f3f4f6;
  color: #5f687b;
  font-size: 14px;
  position: relative;

}
strong span{
  background: -webkit-linear-gradient(90deg, #00468c 0%, rgba(205, 13, 26, 0.66) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#footer .footer-bottom {
  border-top: 1px solid #d9dce2;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  float: left;
  font-family: 'Mulish-Bold';
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits  {
  font-family: 'Mulish-Bold';
}
#footer .credits a {
  font-family: 'Mulish-Bold';
  color: #0a579d;
}
@media (max-width: 992px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
  }
}

.btn-log{
 font-size: 14px;
}
.mt{
  margin-top: 40px;
}
main{
  min-height: 80vh;

}
.form-container{
  background-color: #f9f9fa;
  border-top: 3px solid #14c871;
  border-bottom: 3px solid #14c871;
  padding: 20px 2px;
}

label,select,input{
  font-family: 'Mulish-SemiBold';
}
.dashboard--data{
  padding: 20px;
    color: #5f687b;
    background: #f9f9fa;
    border-radius: 4px;
    border: 1px solid #f9f9fa;
    transition: 0.3s;
    height: 100%;
    border:1px solid #ddd;
}

.dashboard--data h3 {
  color: #16df7e;
}
/* Login page css :start */
.login-layout{
  height: 100vh;
  font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #e5e7ed;
    color: gray;
}
.wrap {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}
.login-section{
  padding: 6em 0;
}
.login-wrap {
  position: relative;
  background: #fff;
}
.login-wrap h3{
  font-family: "Mulish-ExtraBold";
  color: #db2727;
}


.text-wrap {
    background: #00468c;
    background: -moz-linear-gradient(-45deg, #00468c 0%, rgba(205, 13, 26, 0.66) 100% 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #00468c), color-stop(100%, rgba(205, 13, 26, 0.66) 100%));
    background: -webkit-linear-gradient(-45deg, #00468c 0%, rgba(205, 13, 26, 0.66) 100% 100%);
    background: -o-linear-gradient(-45deg, #00468c 0%, rgba(205, 13, 26, 0.66) 100% 100%);
    background: -ms-linear-gradient(-45deg, #00468c 0%, rgba(205, 13, 26, 0.66) 100% 100%);
    background: -webkit-linear-gradient(315deg, #00468c 0%, rgba(205, 13, 26, 0.66) 100% 100%);
    background: -o-linear-gradient(315deg, #00468c 0%, rgba(205, 13, 26, 0.66) 100% 100%);
    background: linear-gradient(135deg, #00468c 0%, rgba(205, 13, 26, 0.66) 100% 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00468c', endColorstr='rgba(205, 13, 26, 0.66) 100%', GradientType=1 );
    
    
    color: #fff;
}
.text-wrap, .login-wrap {
    width: 50%;
}
.loginpage-img{
  width: 70%;
}
.bank-logo {
  background-color: #fff;
  padding: 2px;
  height: 50px;
  margin: 2em;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

.login-layout .input-indicator {
  position: absolute;
  height: 18px;
  top: 50px;
  left: 25px;
}
.login-layout .input-indicator.input-indicator-eye {
  height: 12px;
  right: 20px;
  left: unset;
  top: 55px;
  cursor: pointer;
}
.login-layout .form-group .label {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700;
    font-family: "Mulish-SemiBold";
}
.login-layout label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: "Mulish-SemiBold";
  }
.login-layout .form-control,.login-layout .form-select {
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
  color: #000;
  font-size: 16px;
  border-radius: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: "Mulish-SemiBold";
  text-indent: 35px;
}
.login-layout .btn.btn-primary {
  color: #fff;
}
.captch{
  height: 80px;
    width: 250px;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-section h2{
  font-family: "Mulish-ExtraBold";
}

@media (max-width: 900px){
  .text-wrap, .login-wrap {
    width: 100%;
}
.login-section {
  padding: 6em 0;
}
.form-group .label {
  font-size: 12px;
}
.login-layout .form-control{
  font-size: 40px;
}
}
/* Login page css :end */
/* LOGINPAGE CSS START */
main section.section-login::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../img/img-01.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main section.section-login {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(90deg, #FFAFBD 0%, #FFC3A0 100%); */
  background: linear-gradient(90deg, #00468c 0%, rgba(205, 13, 26, 0.66) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
main section.section-login .section-main {
  width: 60%;
  height: auto;
  display: flex;
}
main section.section-login .section-main .section-login-1, main section.section-login .section-login-2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dee2e6;
  border-radius: 17px;
}

.ubilogo {
  width: 55% !important;
  margin: 0 auto;
  background-color: #fff;
  padding: 2%;
  border-radius: 17px;
}

main section.section-login .section-main .section-login-1, main section.section-login .section-login-2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dee2e6;
}
main section.section-login .section-main .section-login-2 .section-login-2-main {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
}
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-title {
  font-size: 32px;
  font-family: 'Mulish-Bold';
}
.section-login-2-title.login {
  text-transform: uppercase;
  /* background-image: -webkit-linear-gradient(90deg, #00468c 0%, rgba(205, 13, 26, 0.66) 100%); */
 color: #2e384d;
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 90%;
}
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-1, main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-2, main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-3 {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-submit-btn button ,main section.section-login .section-main .section-login-2 .section-login-2-main .section-login-2-form .login-form-submit-btn a {
  background: #0a579d;
  padding: 20px;
  width: 100%;
  color: #fff;
  outline: none;
  border: 0px;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Mulish-Bold';
}
.login-form-1 label,.login-form-2 label{
  font-size: 18px;
  color: #2e384d;
}
.login-form-1 input[type=text],.login-form-2 input[type=password],.login-form-2 input[type=text]{
  font-size: 18px;
  color: #2e384d;
  height: 60px;
  text-indent: 35px;
  background-color: #f4f6fc;
  border: 0;
  position: relative;
  
}
.input-indicator{
  position: absolute;
  height: 25px;
  top: 50px;
  left: 10px;
}
.input-indicator.input-indicator-eye{
  height: 18px;
  right: 10px;
  left: unset;
  top: 55px;
  cursor: pointer;
}

.login-form-1 input::placeholder,.login-form-2 input::placeholder{
  font-size: 18px;
  color: #b0bac9;

}
.captcha img {
  width: 100%;
  height: 100%;
}
.captcha {
  text-align: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
}
.logo{
  width: 60%;
}
/*--------------------------------------------
Accordian
----------------------------------------------*/
.accordion-button:not(.collapsed) {
  color: 
  #db2727;
  background-color: rgba(213, 224, 254, 0.48);
  border: 1px solid #174a84;
 
}
.accordion-body{
  
  border: 1px solid #174a84;
  border-top: 0;
}
.accordion-item{
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
  border: 0;
  margin-top: 5px;
}
.accordion-button::after{
  color:#00468c;
}
/*--------------------------------------------
Buttons
----------------------------------------------*/
.btn{
  font-family: 'Mulish-Bold';
}
button.btn.btn-primary{
  background-color:#00468c;
}
button.btn.btn-danger{
  background-color: #db2727;
}
/*--------------------------------------------
Errror
----------------------------------------------*/
.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #00468c;
  margin-bottom: 0;
  line-height: 150px;
}
.error-404 {
  padding: 30px;
}
.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
}
@media (min-width: 992px){
  .error-404 img {
    max-width: 35%;
}

}
.error-404 .btn:hover {
  background: #3e4f6f;
}
.error-404 .btn {
  background: #51678f;
  color: #fff;
  padding: 8px 30px;
}
/*-------------------------------
Contact
---------------------------------*/
.contact .info-box {
  padding: 28px 30px;
}
.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #00468c;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #db2727;
}
.contact .php-email-form input {
  padding: 10px 15px;
  border-radius: 4px;
  border: solid 0.5px #b0bac9;
  background-color: #f4f6fc;
  font-size: 16px;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
  border-radius: 4px;
  border: solid 0.5px #b0bac9;
  background-color: #f4f6fc;
  font-size: 16px;
}


/*------------------------
Profile Page
-------------------------*/
.profile .profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2c384e;
  margin: 10px 0 0 0;
}
.profile .profile-card h3 {
  font-size: 18px;
}
.profile .profile-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}
.profile .profile-overview .label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}
.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}
/*-----------------------------------------
Table css
--------------------------------------------*/
.table thead tr   th{
  background-color: #00468c;
  color: #fff;
}
.table thead tr   th:first-child{
  border-top-left-radius: 10px;
}
.table thead tr   th:last-child{
  border-top-right-radius: 10px;
}
.table tbody tr td{
  font-family: 'Mulish-SemiBold';
}
/*------------------------------------
Form Control
--------------------------------------*/

label{
  color: #2e384d;
  font-family: 'Mulish-SemiBold';
}

.form-control,.form-select{
  border-radius: 4px;
  border: solid 0.5px #b0bac9;
  background-color: #f4f6fc;
  background-color:#f4f6fc;
  color: #2e384d;
}

/*------------------------------------
Tab 
--------------------------------------*/
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  font-family: 'Mulish-Bold';
  background-color: #00468c;
  color: #fff;
}
.nav-tabs .nav-link,.nav-pills .nav-link{
  color: #00468c;
  font-family: 'Mulish-SemiBold';
}
 .nav-tabs .nav-link:hover{
  background-color: #ffebeb;
}

/*--------------------------------------
Modal Box
----------------------------------------*/
.modal-header{
  background-color: #00468c;
  color: #fff;

}
.close.btn  span{
  color: #fff;
  font-size: 20px;
}
.btn-check:checked+.btn:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible, .btn:first-child:active:focus-visible, :not(.btn-check)+.btn:active:focus-visible {
  border: 0;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
 
  border: 0;
}